<<<<<<< HEAD
@media  screen and (min-width: 768px) {
    .footer{
      margin-top: 40vh;
    }
}
.footer{
  background-color: #155D27;
  padding : 25px 50px;
}
.footer-item{
  display: flex;
  justify-content: center;
}
.text-footer{
  color: #fff;
=======
@media  screen and (min-width: 768px) {
    .footer{
      margin-top: 40vh;
    }
}
.footer{
  background-color: #155D27;
  padding : 25px 50px;
}
.footer-item{
  display: flex;
  justify-content: center;
}
.text-footer{
  color: #fff;
>>>>>>> a14033f5d99fb3bbefa57fc135b1e1d182b5ca35
}