<<<<<<< HEAD
.content-login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155D27;
}
.login{
  padding : 50px;
  border-radius: 10px;
  background-color: #fff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 60%;
}
.the-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.the-label{
  color: #155D27;
}
.the-input{
  border: 1px solid #155D27;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
.the-button-login{
  margin-top: 30px;
}
.btn-login{
  background-color: #155D27;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
=======
.content-login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #155D27;
}
.login{
  padding : 50px;
  border-radius: 10px;
  background-color: #fff; 
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 60%;
}
.the-form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.the-label{
  color: #155D27;
}
.the-input{
  border: 1px solid #155D27;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}
.the-button-login{
  margin-top: 30px;
}
.btn-login{
  background-color: #155D27;
  color: #fff;
  padding: 5px 20px;
  border-radius: 5px;
>>>>>>> a14033f5d99fb3bbefa57fc135b1e1d182b5ca35
}